version: "3.9"

services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - nosql-net

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.3
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data
    networks:
      - nosql-net

  hazelcast:
    image: hazelcast/hazelcast:5.3.0
    container_name: hazelcast
    ports:
      - "5701:5701"
    environment:
      - HZ_NETWORK_PUBLICADDRESS=hazelcast:5701
    networks:
      - nosql-net

  # Опционально: веб-интерфейс для Hazelcast
  hazelcast-management-center:
    image: hazelcast/management-center:5.3.0
    container_name: hazelcast-mancenter
    ports:
      - "8080:8080"
    environment:
      - MC_CLUSTER0_NAME=dev
      - MC_CLUSTER0_ADDRESSLIST=hazelcast:5701
    networks:
      - nosql-net

volumes:
  mongo_data:
  es_data:

networks:
  nosql-net: